{% extends 'base.html.twig' %}

{% block title %}New ErpFacturesFournisseursNew{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpFacturesFournisseursNew</h1>

    {{ include('erp_factures_fournisseurs_new/_form.html.twig') }}

    <a href="{{ path('app_erp_factures_fournisseurs_new_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
