{% extends 'base.html.twig' %}

{% block title %}Edit ErpMessage{% endblock %}

{% block body %}
    <h1>Modifier ErpMessage</h1>

    {{ include('erp_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_message_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_message/_delete_form.html.twig') }}
{% endblock %}
