{% extends 'base.html.twig' %}

{% block title %}Edit Conge{% endblock %}

{% block body %}





<section class="content">

<div class="container-fluid">










    <h1>Modifier Conge</h1>

    {{ include('conge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_conge_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('conge/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
