{% extends 'base.html.twig' %}

{% block title %}New OrdreDeFabrication{% endblock %}

{% block body %}
    <h1>Créer nouveau OrdreDeFabrication</h1>

    {{ include('ordre_de_fabrication/_form.html.twig') }}

    <a href="{{ path('app_ordre_de_fabrication_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
