{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}

{% block body %}
    <h1>Créer nouveau Operation</h1>

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('app_operation_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
