{% extends 'base.html.twig' %}

{% block title %}New ErpMouvementStock{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpMouvementStock</h1>

    {{ include('erp_mouvement_stock/_form.html.twig') }}

    <a href="{{ path('app_erp_mouvement_stock_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
