{% extends 'base.html.twig' %}

{% block title %}Edit AvoirFournisseurs{% endblock %}

{% block body %}





<section class="content">

<div class="container-fluid">










    <h1>Modifier AvoirFournisseurs</h1>

    {{ include('avoir_fournisseurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avoir_fournisseurs_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('avoir_fournisseurs/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}



