{% extends 'base.html.twig' %}

{% block title %}New AvoirFournisseurs{% endblock %}

{% block body %}





<section class="content">

<div class="container-fluid">










    <h1>Créer nouveau AvoirFournisseurs</h1>

    {{ include('avoir_fournisseurs/_form.html.twig') }}

    <a href="{{ path('app_avoir_fournisseurs_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}




