{% extends 'base.html.twig' %}

{% block title %}Edit ErpPistes{% endblock %}

{% block body %}
    <h1>Modifier ErpPistes</h1>

    {{ include('erp_pistes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_pistes_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_pistes/_delete_form.html.twig') }}
{% endblock %}
