{% extends 'base.html.twig' %}

{% block title %}New ErpPistes{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpPistes</h1>

    {{ include('erp_pistes/_form.html.twig') }}

    <a href="{{ path('app_erp_pistes_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
