{% extends 'base.html.twig' %}

{% block title %}New ErpModeleVehicule{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpModeleVehicule</h1>

    {{ include('erp_modele_vehicule/_form.html.twig') }}

    <a href="{{ path('app_erp_modele_vehicule_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
