{% extends 'base.html.twig' %}

{% block title %}New ErpBonLivraisonClientNew{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Créer nouveau ErpBonLivraisonClientNew</h1>

    {{ include('erp_bon_livraison_client_new/_form.html.twig') }}

    <a href="{{ path('app_erp_bon_livraison_client_new_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}
