{% extends 'base.html.twig' %}

{% block title %}Edit FacturesFournisseurs{% endblock %}

{% block body %}
    <h1>Modifier FacturesFournisseurs</h1>

    {{ include('factures_fournisseurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_factures_fournisseurs_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('factures_fournisseurs/_delete_form.html.twig') }}
{% endblock %}
