{% extends 'base.html.twig' %}

{% block title %}New FacturesFournisseurs{% endblock %}

{% block body %}
    <h1>Créer nouveau FacturesFournisseurs</h1>

    {{ include('factures_fournisseurs/_form.html.twig') }}

    <a href="{{ path('app_factures_fournisseurs_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
