<form method="post" action="{{ path('app_erp_releve_bancaire_delete', {'id': erp_releve_bancaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ erp_releve_bancaire.id) }}">
        <button class="btn btn-danger">Supprimer</button>
</form>
