{% extends 'base.html.twig' %}

{% block title %}New ErpReleveBancaire{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpReleveBancaire</h1>

    {{ include('erp_releve_bancaire/_form.html.twig') }}

    <a href="{{ path('app_erp_releve_bancaire_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
