{% extends 'base.html.twig' %}

{% block title %}New FactureFournisseurNewData{% endblock %}

{% block body %}
    <h1>Créer nouveau FactureFournisseurNewData</h1>

    {{ include('facture_fournisseur_new_data/_form.html.twig') }}

    <a href="{{ path('app_facture_fournisseur_new_data_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
