{% extends 'base.html.twig' %}

{% block title %}Edit ErpConsomationParc{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Modifier ErpConsomationParc</h1>

    {{ include('erp_consomation_parc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_consomation_parc_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_consomation_parc/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
