<form method="post" action="{{ path('app_facture_client_new_data_delete', {'id': facture_client_new_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture_client_new_datum.id) }}">
        <button class="btn btn-danger">Supprimer</button>
</form>
