{% extends 'base.html.twig' %}

{% block title %}New LigneFacturesFournisseurss{% endblock %}

{% block body %}
    <h1>Créer nouveau LigneFacturesFournisseurss</h1>

    {{ include('ligne_factures_fournisseurss/_form.html.twig') }}

    <a href="{{ path('app_ligne_factures_fournisseurss_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
