{% extends 'base.html.twig' %}

{% block title %}Edit AvoirClientsHistory{% endblock %}

{% block body %}






<section class="content">

<div class="container-fluid">










    <h1>Modifier AvoirClientsHistory</h1>

    {{ include('avoir_clients_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avoir_clients_history_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('avoir_clients_history/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}






