{% extends 'base.html.twig' %}

{% block title %}New AvoirClientsHistory{% endblock %}

{% block body %}





<section class="content">

<div class="container-fluid">











    <h1>Créer nouveau AvoirClientsHistory</h1>

    {{ include('avoir_clients_history/_form.html.twig') }}

    <a href="{{ path('app_avoir_clients_history_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}






