{% extends 'base.html.twig' %}

{% block title %}New Mouvement{% endblock %}

{% block body %}
    <h1>Créer nouveau Mouvement</h1>

    {{ include('mouvement/_form.html.twig') }}

    <a href="{{ path('app_mouvement_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
