{% extends 'base.html.twig' %}

{% block title %}Edit ContratFournisseur{% endblock %}

{% block body %}



<section class="content">

<div class="container-fluid">










    <h1>Modifier ContratFournisseur</h1>

    {{ include('contrat_fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contrat_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('contrat_fournisseur/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}








