{% extends 'base.html.twig' %}

{% block title %}New ContratFournisseur{% endblock %}

{% block body %}



<section class="content">

<div class="container-fluid">










    <h1>Créer nouveau ContratFournisseur</h1>

    {{ include('contrat_fournisseur/_form.html.twig') }}

    <a href="{{ path('app_contrat_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}









