{% extends 'base.html.twig' %}

{% block title %}New ErpProduit{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpProduit</h1>

    {{ include('erp_produit/_form.html.twig') }}

    <a href="{{ path('app_erp_produit_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
