{% extends 'base.html.twig' %}

{% block title %}Edit ErpObjectifs{% endblock %}

{% block body %}
    <h1>Modifier ErpObjectifs</h1>

    {{ include('erp_objectifs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_objectifs_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_objectifs/_delete_form.html.twig') }}
{% endblock %}
