{% extends 'base.html.twig' %}

{% block title %}New ErpObjectifs{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpObjectifs</h1>

    {{ include('erp_objectifs/_form.html.twig') }}

    <a href="{{ path('app_erp_objectifs_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
