{% extends 'base.html.twig' %}

{% block title %}Edit ErpProjet{% endblock %}

{% block body %}
    <h1>Modifier ErpProjet</h1>

    {{ include('erp_projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_projet_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_projet/_delete_form.html.twig') }}
{% endblock %}
