{% extends 'base.html.twig' %}

{% block title %}New ErpProjet{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpProjet</h1>

    {{ include('erp_projet/_form.html.twig') }}

    <a href="{{ path('app_erp_projet_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
