{% extends 'base.html.twig' %}

{% block title %}New LigneFacturesClients{% endblock %}

{% block body %}
    <h1>Créer nouveau LigneFacturesClients</h1>

    {{ include('ligne_factures_clients/_form.html.twig') }}

    <a href="{{ path('app_ligne_factures_clients_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
