{% extends 'base.html.twig' %}

{% block title %}Edit LigneDevisClientsFromFactures{% endblock %}

{% block body %}
    <h1>Modifier LigneDevisClientsFromFactures</h1>

    {{ include('ligne_devis_clients_from_factures/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ligne_devis_clients_from_factures_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('ligne_devis_clients_from_factures/_delete_form.html.twig') }}
{% endblock %}
