{% extends 'base.html.twig' %}

{% block title %}New LigneDevisClientsFromFactures{% endblock %}

{% block body %}
    <h1>Créer nouveau LigneDevisClientsFromFactures</h1>

    {{ include('ligne_devis_clients_from_factures/_form.html.twig') }}

    <a href="{{ path('app_ligne_devis_clients_from_factures_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
