{% extends 'base.html.twig' %}

{% block title %}New FactureAutresNewData{% endblock %}

{% block body %}
    <h1>Créer nouveau FactureAutresNewData</h1>

    {{ include('facture_autres_new_data/_form.html.twig') }}

    <a href="{{ path('app_facture_autres_new_data_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
