{% extends 'base.html.twig' %}

{% block title %}New ErpEquipe{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpEquipe</h1>

    {{ include('erp_equipe/_form.html.twig') }}

    <a href="{{ path('app_erp_equipe_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
