


<section class="content">

<div class="container-fluid">








{% extends 'base.html.twig' %}

{% block title %}Edit DevisFournisseurNew{% endblock %}

{% block body %}
    <h1>Modifier DevisFournisseurNew</h1>

    {{ include('devis_fournisseur_new/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_devis_fournisseur_new_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('devis_fournisseur_new/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
