{% extends 'base.html.twig' %}

{% block title %}Edit ErpVille{% endblock %}

{% block body %}
    <h1>Modifier ErpVille</h1>

    {{ include('erp_ville/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_ville_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_ville/_delete_form.html.twig') }}
{% endblock %}
