{% extends 'base.html.twig' %}

{% block title %}Edit ErpFournisseur{% endblock %}

{% block body %}
    <h1>Modifier ErpFournisseur</h1>

    {{ include('erp_fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_fournisseur/_delete_form.html.twig') }}
{% endblock %}
