{% extends 'base.html.twig' %}

{% block title %}New ErpFournisseur{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpFournisseur</h1>

    {{ include('erp_fournisseur/_form.html.twig') }}

    <a href="{{ path('app_erp_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
