{% extends 'base.html.twig' %}

{% block title %}New ErpFeuilleDeTemps{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpFeuilleDeTemps</h1>

    {{ include('erp_feuille_de_temps/_form.html.twig') }}

    <a href="{{ path('app_erp_feuille_de_temps_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
