{% extends 'base.html.twig' %}

{% block title %}New ErpAbsence{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Créer nouveau ErpAbsence</h1>

    {{ include('erp_absence/_form.html.twig') }}

    <a href="{{ path('app_erp_absence_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}
