{% extends 'base.html.twig' %}

{% block title %}Edit LigneDevisFournisseurNew{% endblock %}

{% block body %}
    <h1>Modifier LigneDevisFournisseurNew</h1>

    {{ include('ligne_devis_fournisseur_new/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ligne_devis_fournisseur_new_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('ligne_devis_fournisseur_new/_delete_form.html.twig') }}
{% endblock %}
