{% extends 'base.html.twig' %}

{% block title %}New LigneDevisFournisseurNew{% endblock %}

{% block body %}
    <h1>Créer nouveau LigneDevisFournisseurNew</h1>

    {{ include('ligne_devis_fournisseur_new/_form.html.twig') }}

    <a href="{{ path('app_ligne_devis_fournisseur_new_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
