{% extends 'base.html.twig' %}

{% block title %}Edit DeviserpLigneDevisFournisseursNew{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Modifier DeviserpLigneDevisFournisseursNew</h1>

    {{ include('deviserp_ligne_devis_fournisseurs_new/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('deviserp_ligne_devis_fournisseurs_new/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
