{% extends 'base.html.twig' %}

{% block title %}New DeviserpLigneDevisFournisseursNew{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Créer nouveau DeviserpLigneDevisFournisseursNew</h1>

    {{ include('deviserp_ligne_devis_fournisseurs_new/_form.html.twig') }}

    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}
