{% extends 'base.html.twig' %}

{% block title %}New ErpHeureSupp{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpHeureSupp</h1>

    {{ include('erp_heure_supp/_form.html.twig') }}

    <a href="{{ path('app_erp_heure_supp_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
