{% extends 'base.html.twig' %}

{% block title %}New LigneFacturesFournisseurs{% endblock %}

{% block body %}
    <h1>Créer nouveau LigneFacturesFournisseurs</h1>

    {{ include('ligne_factures_fournisseurs/_form.html.twig') }}

    <a href="{{ path('app_ligne_factures_fournisseurs_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
