{% extends 'base.html.twig' %}

{% block title %}New Notedefrais{% endblock %}

{% block body %}
    <h1>Créer nouveau Notedefrais</h1>

    {{ include('notedefrais/_form.html.twig') }}

    <a href="{{ path('app_notedefrais_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
