{% extends 'base.html.twig' %}

{% block title %}Edit ErpTache{% endblock %}

{% block body %}
    <h1>Modifier ErpTache</h1>

    {{ include('erp_tache/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_tache_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_tache/_delete_form.html.twig') }}
{% endblock %}
