{% extends 'base.html.twig' %}

{% block title %}New ErpTache{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpTache</h1>

    {{ include('erp_tache/_form.html.twig') }}

    <a href="{{ path('app_erp_tache_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
