{% extends 'base.html.twig' %}

{% block title %}New ErpCategoriePremiere{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Créer nouveau ErpCategoriePremiere</h1>

    {{ include('erp_categorie_premiere/_form.html.twig') }}

    <a href="{{ path('app_erp_categorie_premiere_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}
