{% extends 'base.html.twig' %}

{% block title %}New Masociete{% endblock %}

{% block body %}
    <h1>Créer nouveau Masociete</h1>

    {{ include('masociete/_form.html.twig') }}

    <a href="{{ path('app_masociete_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
