{% extends 'base.html.twig' %}

{% block title %}New ErpFacturesClient{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpFacturesClient</h1>

    {{ include('erp_factures_client/_form.html.twig') }}

    <a href="{{ path('app_erp_factures_client_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
