


<section class="content">

<div class="container-fluid">








<form method="post" action="{{ path('app_erp_admin_delete', {'id': erp_admin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ erp_admin.id) }}">
        <button class="btn btn-danger">Supprimer</button>
</form>












</section>
</div>












