{% extends 'base.html.twig' %}

{% block title %}New ContratClient{% endblock %}

{% block body %}



<section class="content">

<div class="container-fluid">










    <h1>Créer nouveau ContratClient</h1>

    {{ include('contrat_client/_form.html.twig') }}

    <a href="{{ path('app_contrat_client_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}







