{% extends 'base.html.twig' %}

{% block title %}Edit ErpBonDeReceptionFournisseur{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Modifier ErpBonDeReceptionFournisseur</h1>

    {{ include('erp_bon_de_reception_fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_bon_de_reception_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_bon_de_reception_fournisseur/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
