{% extends 'base.html.twig' %}

{% block title %}New ErpBonDeReceptionFournisseur{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>Créer nouveau ErpBonDeReceptionFournisseur</h1>

    {{ include('erp_bon_de_reception_fournisseur/_form.html.twig') }}

    <a href="{{ path('app_erp_bon_de_reception_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>











</section>
</div>













{% endblock %}
