{% extends 'base.html.twig' %}

{% block title %}Edit ErpLigneFacturesFournisseurs{% endblock %}

{% block body %}
    <h1>Modifier ErpLigneFacturesFournisseurs</h1>

    {{ include('erp_ligne_factures_fournisseurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_ligne_factures_fournisseurs_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_ligne_factures_fournisseurs/_delete_form.html.twig') }}
{% endblock %}
