{% extends 'base.html.twig' %}

{% block title %}New ErpVehicule{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpVehicule</h1>

    {{ include('erp_vehicule/_form.html.twig') }}

    <a href="{{ path('app_erp_vehicule_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
