{% extends 'base.html.twig' %}

{% block title %}New LigneCommandeFournisseurNew{% endblock %}

{% block body %}
    <h1>Créer nouveau LigneCommandeFournisseurNew</h1>

    {{ include('ligne_commande_fournisseur_new/_form.html.twig') }}

    <a href="{{ path('app_ligne_commande_fournisseur_new_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
