{% extends 'base.html.twig' %}

{% block title %}New ErpDevisFournisseursNew{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpDevisFournisseursNew</h1>

    {{ include('erp_devis_fournisseurs_new/_form.html.twig') }}

    <a href="{{ path('app_erp_devis_fournisseurs_new_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
