<form method="post" action="{{ path('app_erp_document_delete', {'id': erp_document.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ erp_document.id) }}">
        <button class="btn btn-danger">Supprimer</button>
</form>
