{% extends 'base.html.twig' %}

{% block title %}Edit ErpMatierePremiere{% endblock %}

{% block body %}
    <h1>Modifier ErpMatierePremiere</h1>

    {{ include('erp_matiere_premiere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_matiere_premiere_index') }}"class="btn btn-primary">Retour à la liste</a>

    {{ include('erp_matiere_premiere/_delete_form.html.twig') }}
{% endblock %}
