{% extends 'base.html.twig' %}

{% block title %}New ErpPays{% endblock %}

{% block body %}
    <h1>Créer nouveau ErpPays</h1>

    {{ include('erp_pays/_form.html.twig') }}

    <a href="{{ path('app_erp_pays_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
